@import "tailwindcss";

/* Always show vertical scrollbar on the whole page */
body {
  overflow-y: scroll;
}

@theme {
  --color-background: #F9F7F7;
  --color-nav-link:#3C3C3C;
  --color-scrollbar: #FF3131;
  --color-sidebar: var(--color-background);
  --color-accent: #FF3131
}

.nav-link {
  @apply hover:text-black text-nav-link transition-colors duration-100;
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar) var(--color-background) !important;
}

::selection {
  background: hsla(0, 0%, 68%, 0.315);
}

/* Navigation animation */
@keyframes terminal-fade {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
