---
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";

const email = "nadzmiagthomas@gmail.com";
const github = "https://github.com/nadzmi27";
---

<footer class="bg-jetblack text-white w-full flex justify-center" data-nosnippet>
  <div
    class="content-width px-8 sm:py-16 py-8 pb-10 flex flex-col sm:flex-row justify-between items-center gap-4"
  >
    <button id="scroll-top-btn" class="font-serif text-xl cursor-pointer"
      >&copy <span id="copyright-year"></span> Nadzmi Ag Thomas</button
    >
    <div class="flex gap-2 items-center">
      <Link
        class="hover-underline-animation pb-1 text-white/85 hover:text-white active:text-white"
        href="https://github.com/nadzmi27"
        openNew={true}
      >
        <Icon name="ph:github-logo" size={24} />
      </Link>
      <Link
        class="hover-underline-animation pb-1 text-white/85 hover:text-white active:text-white"
        href="https://au.linkedin.com/in/nadzmi-ag-thomas-0267a6219"
        openNew={true}
      >
        <Icon name="ph:linkedin-logo" size={24} />
      </Link>
      <Link
        class="hover-underline-animation pb-1 text-white/85 hover:text-white active:text-whit"
        href="https://www.kaggle.com/nadzmiagthomas"
        openNew={true}
      >
        kaggle
      </Link>
      <Link
        class="hover-underline-animation pb-1 text-white/85 hover:text-white active:text-whit"
        href="mailto:nadzmiagthomas@gmail.com"
      >
        <Icon name="ph:envelope-simple" size={24} />
      </Link>
    </div>
  </div>
</footer>

<script>
  document.querySelector("#copyright-year")!.textContent = new Date()
    .getFullYear()
    .toString();

  document.getElementById("scroll-top-btn")?.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>
