---
import rickascii from "../../assets/nevergonnagiveyouup.png";
import CursorCTA from "../CursorCTA.tsx";
import { Image } from "astro:assets";
---

<div class="size-full">
  <CursorCTA
    client:load
    tooltip="Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you"
  >
    <Image src={rickascii} alt="yes" loading="eager" class="block" />
  </CursorCTA>
</div>
