---
import ProjectCardEntry from "../Projects/ProjectCardEntry.astro";
const projects = ["vocabforest", "ascii-art", "portfolio", "datavis", "embeddingsearch", "retailforecasting"];
---

<div class="content-width h-fit py-6 lg:py-7 px-4 mb-8">
  <!-- Desktop -->
  <div class="md:grid md:grid-cols-2 md:gap-4 lg:gap-6 hidden">
    <!-- Column 1 -->
    <div class="flex flex-col md:gap-4 lg:gap-6">
      {
        projects
          .filter((_, i) => i % 2 === 0)
          .map((project) => <ProjectCardEntry id={project} />)
      }
    </div>
    <!-- Column 2 -->
    <div class="flex flex-col gap-4 lg:gap-6">
      {
        projects
          .filter((_, i) => i % 2 === 1)
          .map((project) => <ProjectCardEntry id={project} />)
      }
    </div>
  </div>
  
  <!-- Mobile -->
  <div class="md:hidden flex flex-col gap-5 px-1">
    {projects.map((project) => <ProjectCardEntry id={project} />)}
  </div>
</div>
