---
import ProjectA from "../Projects/ProjectA.astro";
import ProjectB from "../Projects/ProjectB.astro";
import AsciiArtGenerator from "../Projects/AsciiArtGenerator.astro";
import ProjectCardEntry from "../ProjectCardEntry.astro";
import VocabForest from "../Projects/VocabForest.astro";
const projects = ["ascii-art", "vocabforest", "ascii-art", "vocabforest"];
---

<div class="content-width h-fit py-10 px-4">
  <!-- Desktop -->
  <div class="md:grid md:grid-cols-2 gap-8 hidden">
    <!-- Column 1 -->
    <div class="flex flex-col gap-4">
      {
        projects
          .filter((_, i) => i % 2 === 0)
          .map((project) => <ProjectCardEntry id={project} />)
      }
    </div>
    <!-- Column 2 -->
    <div class="flex flex-col gap-4">
      {
        projects
          .filter((_, i) => i % 2 === 1)
          .map((project) => <ProjectCardEntry id={project} />)
      }
    </div>
  </div>
  <!-- Mobile -->
  <div class="md:hidden flex flex-col gap-6 px-2">
    {projects.map((project) => <ProjectCardEntry id={project} />)}
  </div>
</div>
