---
import LiveClock from "./LiveClock.astro";
import Link from "../Layout/Link.astro";
import { Icon } from "astro-icon/components";
---

<div class="my-auto md:pr-10">
  <h1 class="text-5xl font-serif">
    Hey, I'm <span class="font-cursive-regular">Nadzmi!</span>
  </h1>

  <p class="text-xl mt-6 leading-tight">
    I'm a <u>software developer</u> with a <u>background in data</u>.
    <span class="whitespace-nowrap">I build </span>full-stack apps and data
    tools, from a React frontend down to the database and pipeline.
  </p>
  <div class="mt-6 text-text-secondary text-base leading-tight">
    <span class="flex gap-1.5">
      <span>Melbourne</span>
      <span>/</span>
      <LiveClock />
    </span>
    <a class="nav-link" href="mailto:nadzmiagthomas@gmail.com">nadzmiagthomas@gmail.com</a>
  </div>

  <Link
    class="flex items-center w-fit mt-8 py-1.5 pl-3 pr-2 gap-2
       text-white text-lg bg-nav-link hover:bg-black active:bg-black"
    href="/about"
  >
    More about me <Icon
      name="ph:arrow-up-right"
      size={18}
      class="translate-y-[1px]"
    />
  </Link>
</div>
