---
import LiveClock from "./LiveClock.astro";
import { ArrowRight } from "@lucide/astro";
import CursorCTA from "../CursorCTA.tsx";
import Link from "../Link.astro";
---

<div class="size-full">
  <h1 class="text-5xl">Hey, I'm Nadzmi!</h1>
  <p class="text-xl mt-6 leading-tight">
    I'm a <u>software developer</u> with a <u>background in data</u>. <br />
    I build full-stack apps and data tools, from a React frontend down to the database
    and pipeline
  </p>
  <div class="mt-4 text-text-secondary text-base leading-tight">
    <span class="flex gap-1.5">
      <span>Melbourne</span>
      <span>/</span>
      <LiveClock />
    </span>
    <a href="mailto:nadzmiagthomas@gmail.com">nadzmiagthomas@gmail.com</a>
  </div>
  <CursorCTA client:load tooltip={"Find out more :)"}>
    <Link
      class="flex items-center w-fit mt-4 py-1.5 pl-3 pr-2 gap-2
       text-white text-lg bg-nav-link"
      href="/about"
    >
      More about me <ArrowRight class="translate-y-0.5" size={18} />
    </Link>
  </CursorCTA>
</div>
