---
import PostCardEntry from "../PostCardEntry.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 5);
---

<div class="content-width px-5 md:px4 py-6 lg:py-7 flex flex-col gap-4 mb-16">
  {posts.map((post) => <PostCardEntry id={post.id} />)}
</div>
