---
interface Props {
  class?: string;
  style?: string;
}

const { class: className, style } = Astro.props;
---

<div class=`trapezoid ${className ?? ''}` style={style}><slot /></div>

<style>
  /* Trapezoid */
  .trapezoid {
    width: fit-content;
    height: fit-content;
    clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);

    display: flex;
    align-items: center; /* or center, flex-start */
  }
</style>
