---
import Layout from "../components/Layout/Layout.astro";
import "../styles/global.css";
import Intro from "../components/MainPage/Intro.astro";
import Collage from "../components/MainPage/Collage.astro";
import Section from "../components/MainPage/Section.astro";
import FeaturedProjects from "../components/MainPage/FeaturedProjects.astro";
import RecentPosts from "../components/MainPage/RecentPosts.astro";
import MessageBoard from "../components/MainPage/MessageBoard.astro";
---

<Layout
  title="Nadzmi Ag Thomas - Portfolio"
  description="Software developer with a background in data. I build full-stack apps and data tools, from a React frontend down to the database and pipeline."
>
  <div
    data-bg="#f9f7f7"
    class="content-width grid md:grid-cols-[55%_45%] pl-4 pr-4
    overflow-x-clip min-h-[500px] h-[calc(100vh-80px)] items-center pb-24"
  >
    <Intro />
    <Collage />
  </div>

  <!-- Featured Projects -->
  <Section
    header="FEATURED PROJECT"
    backgroundHex="var(--color-project-background)"
    href="/project"
  >
    <FeaturedProjects />
  </Section>

  <!-- Recent Posts -->
  <Section
    header="RECENT POST"
    backgroundHex="var(--color-blog-background)"
    href="/blog/1"
  >
    <RecentPosts />
  </Section>

  <!-- Leave A Message -->
  <Section
    header="LEAVE A MESSAGE"
    backgroundHex="var(--color-visitor-background)"
  >
    <MessageBoard />
  </Section>
</Layout>
