---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Intro from "../components/MainPage/Intro.astro";
import Collage from "../components/MainPage/Collage.astro";
import Trapezoid from "../components/MainPage/Trapezoid.astro";
import Link from "../components/Link.astro";
import { ArrowUpRight } from "@lucide/astro";
import FeaturedProjects from "../components/MainPage/FeaturedProjects.astro";
---

<Layout>
  <div
    class="content-width grid md:grid-cols-[55%_45%] pl-4 pr-4
    overflow-x-clip h-[calc(100vh-80px-48px)] pb-12"
  >
    <Intro />
    <Collage />
  </div>

  <!-- Selected Projects -->
  <div class="bg-[#DDDDDD] h-fit">
    <div class="bg-background">
      <div class="content-width flex items-end translate-y-1">
        <Trapezoid class="bg-[#DDDDDD] px-6 md:px-10 pt-3">
          <h1
            class="text-black font-sans font-semibold text-lg md:text-2xl pb-1"
          >
            FEATURED PROJECT<span class="animate-terminal-fade">_</span>
          </h1>
        </Trapezoid>
        <Link
          class="flex justify-between items-center ml-auto underline text-lg font-sans font-bold text-nav-link gap-0.5 pr-4 pb-2"
          href="/project"
        >
          view all <ArrowUpRight size={18} />
        </Link>
      </div>
    </div>
    <!-- Project Cards -->
    <div class="content-width">
      <FeaturedProjects />
    </div>
  </div>
</Layout>
