---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Intro from "../components/MainPage/Intro.astro";
import Collage from "../components/MainPage/Collage.astro";
import Section from "../components/MainPage/Section.astro";
import FeaturedProjects from "../components/MainPage/FeaturedProjects.astro";
import RecentPosts from "../components/MainPage/RecentPosts.astro";
import MessageBoard from "../components/MainPage/MessageBoard.astro";
---

<Layout>
  <section
    data-bg="#f9f7f7"
    class="content-width grid md:grid-cols-[55%_45%] pl-4 pr-4
    overflow-x-clip min-h-[500px] h-[calc(100vh-80px)] items-center pb-24"
  >
    <Intro />
    <Collage />
  </section>

  <!-- Featured Projects -->
  <Section header="FEATURED PROJECT" backgroundHex="#DDDDDD" href="/project">
    <FeaturedProjects />
  </Section>

  <!-- Recent Posts -->
  <Section header="RECENT POST" backgroundHex="#C7A07A" href="/blog">
    <RecentPosts />
  </Section>

  <!-- Leave A Message -->
  <Section header="LEAVE A MESSAGE" backgroundHex="#D6D4C3">
    <MessageBoard />
  </Section>
</Layout>
