---
import { base64 } from "astro:schema";
import HeaderLink from "./HeaderLink.astro";
import Navigation from "./Navigation.astro";
---

<header
  class="sticky top-0 z-50 flex justify-center w-full pt-6 px-4 pb-4bg-white/10 backdrop-blur-lg"
>
  <nav
    class="flex flex-row justify-between w-full max-w-[1040px] shrink text-[18px]"
  >
    <Navigation />

    <!-- <div class="flex pl-9 justify-between max-w-[494px] w-full shrink"> -->
    <div class="flex pl-9 gap-8 shrink">
      <HeaderLink class="nav-link" href="/about"> About Me </HeaderLink>
      <HeaderLink class="nav-link" href="/project"> Project </HeaderLink>
      <HeaderLink class="nav-link" href="/blog"> Blog </HeaderLink>
      <HeaderLink class="nav-link" href="/visitor"> Visitor Corner </HeaderLink>
    </div>
  </nav>
</header>
