---
import Layout from "../../components/Layout/Layout.astro";
import GuestbookMessages from "../../components/Visitor/GuestbookMessages";
import fallbackQuotes from "../../data/fallbackQuotes.json";

// Fallback quotes in case API fail
// Actually just use fallbackQuotes
const getDayOfYear = (date: Date = new Date()): number => {
  const startOfYear = new Date(date.getFullYear(), 0, 0);
  const diffInMilliseconds = date.getTime() - startOfYear.getTime();
  return Math.floor(diffInMilliseconds / (1000 * 60 * 60 * 24));
};

let quote = fallbackQuotes[getDayOfYear() % fallbackQuotes.length];

// // Try api
// try {
//   const controller = new AbortController();

//   const timeout = setTimeout(() => {
//     controller.abort();
//   }, 5000);

//   const res = await fetch("https://zenquotes.io/api/today", {
//     signal: controller.signal,
//   });

//   clearTimeout(timeout);

//   if (res.ok) {
//     [quote] = await res.json();
//   }
// } catch (err) {
//   console.error("Quote API unavailable:", err);
// }
---

<Layout
  title="Visitor Corner"
  description="Nadzmi's Portfolio Visitor Corner aka playground"
  backgroundColor="var(--color-visitor-background)"
>
  <div class="content-width pt-6" data-bg="var(--color-visitor-background)">
    <GuestbookMessages client:load quote={quote} />
  </div>
</Layout>
